<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
</head>
<body>
    <nav>
        <a href="/inicio">PÁGINA INICIAL</a> |
        <a href="/kids">KIDS</a> |
        <a href="perguntasfrequentes">PERGUNTAS FREQUENTES</a> |
        <a href="contato">CONTATO</a> |
        <a href="sobre">SOBRE</a>
    </nav>
<p><h1>A Culpa é do Mosquito?</h1></p>
<p><h2>Contate-nos via email:</h2>
    <p>contato.aculpaedomosquito@gmail.com</p>
</body>
</html>
 
