<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
</head>
<body>
    <nav>
        <a href="/inicio">PÁGINA INICIAL</a> |
        <a href="/kids">KIDS</a> |
        <a href="perguntasfrequentes">PERGUNTAS FREQUENTES</a> |
        <a href="contato">CONTATO</a> |
        <a href="sobre">SOBRE</a>
    </nav>
<p><h1>A Culpa é do Mosquito?</h1></p>
    <p>O vírus da dengue é transmitido pela picada da fêmea do mosquito Aedes aegypti, que é ativo durante o dia, especialmente nas primeiras horas da manhã e no final da tarde, e se reproduz em locais com água parada, como dentro de casas e em áreas residenciais, como quintais e calçadas. Portanto, é essencial manter cuidados constantes para prevenção.</p>

    <p>Existem quatro tipos diferentes do vírus da dengue (DENV-1, 2, 3 e 4), e a infecção por um tipo proporciona imunidade permanente apenas contra aquele específico. Isso significa que é possível contrair dengue mais de uma vez. Além disso, a dengue é uma arbovirose que pode afetar pessoas de todas as idades, incluindo crianças e adultos. Indivíduos com doenças crônicas, como diabetes e hipertensão arterial, além de mulheres grávidas, crianças com até 2 anos e pessoas com mais de 65 anos, estão em maior risco de desenvolver complicações devido à doença.</p>

<p>A maioria dos casos de dengue é assintomática, ou seja, não apresenta sintomas. No entanto, ao surgirem os primeiros sintomas, é fundamental buscar atendimento médico para receber orientações adequadas.</p>

<br>
 <h2>Sintomas</h2>
 <p>A dengue é uma doença viral transmitida pelo mosquito Aedes aegypti. A infecção por dengue pode ser assintomática, leve ou causar doença grave, levando à morte. Normalmente, a primeira manifestação da dengue é a febre alta (39° a 40°C), de início abrupto, que geralmente dura de 2 a 7 dias, acompanhada de dor de cabeça, dores no corpo e articulações, prostração, fraqueza, dor atrás dos olhos, erupção e coceira na pele. Perda de peso, náuseas e vômitos são comuns. Na fase febril inicial da doença pode ser difícil diferenciá-la. A forma grave da doença inclui dor abdominal intensa e contínua, vômitos persistentes, sangramento de mucosas, entre outros sintomas.</p>

<br>
<h2>Transmissão</h2>
 <p>A dengue é transmitida pela picada da fêmea do mosquito Aedes Aegypti, quando o inseto carrega um dos quatro sorotipos do vírus. O Aedes é um mosquito que vive em áreas urbanas, principalmente as mais povoadas. É nesse tipo de lugar que o mosquito encontra condições ideais para se proliferar. Além disso, por causa do calor e das chuvas, que facilitam sua reprodução, ele se multiplica no verão.</p>

<br>
<h2>Prevenção</h2>
 <p>Uma forma de prevenção é acabar com o mosquito, mantendo o domicílio sempre limpo, eliminando os possíveis criadouros. Roupas que minimizem a exposição da pele durante o dia, quando os mosquitos são mais ativos, proporcionam alguma proteção às picadas e podem ser adotadas principalmente durante surtos. Repelentes e inseticidas também podem ser usados, seguindo as instruções do rótulo. Mosquiteiros proporcionam boa proteção para aqueles que dormem durante o dia (por exemplo: bebês, pessoas acamadas e trabalhadores noturnos).</p>

</body>
</html>