<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <title>Perguntas Frequentes</title>
</head>
<body>
    <nav>
        <a href="/inicio">PÁGINA INICIAL</a> |
        <a href="/kids">KIDS</a> |
        <a href="perguntasfrequentes">PERGUNTAS FREQUENTES</a> |
        <a href="contato">CONTATO</a> |
        <a href="sobre">SOBRE</a>
    </nav>
<p><h1>A Culpa é do Mosquito?</h1></p>
<p><H2>Perguntas Frequentes</H2></p>
    <h4 tabindex="0"><strong>Como a dengue pode ser transmitida?&nbsp;</strong></h4>

    <p tabindex="0">A transmissão acontece pela picada do mosquito <strong>Aedes aegypti</strong> infectado.
    </p>

    <h4 tabindex="0"><strong>Quais os sintomas?</strong></h4>

    <p tabindex="0">Febre alta com início súbito, dor de cabeça, dor atrás dos olhos, dor no corpo, perda do
        apetite, manchas vermelhas na pele, náuseas e vômitos, tonturas, extremo cansaço, dores nas articulações.</p>

    <h4 tabindex="0"><strong>Como saber se estou desenvolvendo a forma grave da doença?</strong></h4>

    <p tabindex="0">Entre o terceiro e o sétimo dia de doença, a febre costuma diminuir ou desaparecer, é
        neste período que alguns sinais demonstram que o quadro pode estar se agravando (vômitos frequentes, Dor abdominal intensa e contínua, Vômitos persistentes, tontura, principalmente quando fica de pé, sangramentos de mucosa e sonolência ou muita irritabilidade).</p>

    <h4 tabindex="0"><strong>O que fazer se estiver com os sintomas de dengue?</strong></h4>

    <ul>
        <li>Procurar o serviço de Saúde mais próximo;<br>&nbsp;</li>
        <li>Fazer repouso e ingerir bastante líquido (água, suco, soro caseiro ou água de coco);<br>&nbsp;</li>
        <li>Retornar ao serviço de saúde para ser reavaliado.</li>
    </ul>
    <h4 tabindex="0"><strong>Existem medicamentos específico para combater ou prevenir a doença?</strong></h4>

    <p tabindex="0">Não. Toda pessoa com suspeita de dengue deve procurar um serviço de saúde.</p>

    <h4 tabindex="0"><strong>Como evitar criadouros do mosquito <strong>Aedes Aegypti</strong> em minha casa?</strong></h4>
 <ul>
     <li><p tabindex="0">Retirar os pratinhos dos vasos de plantas;</p></li>
     <li><p tabindex="0">Tampinhas, latinhas e embalagens plásticas e outros materiais sem utilidade devem ser jogadas no lixo e os materiais recicláveis devem ser guardados em local coberto;</p>
     </li>
     <li>Latas, baldes, potes e outros frascos devem ser guardados com a boca para baixo;<br>&nbsp;</li>
     <li>Caixas d’água devem ser mantidas fechadas com tampas íntegras sem rachaduras ou cobertas com tela tipo mosquiteiro;<br>&nbsp;</li>
     <li>Piscinas devem ser tratadas com cloro ou cobertas;<br>&nbsp;</li>
     <li>Pneus devem ser&nbsp;guardados em locais cobertos;</li>
     <li>Entulhos ou sobras de obras devem ser colocados em caçambas de recolhimento;</li>
     <li>
         <p tabindex="0">Bromélias: substituir por outra planta quando possível, se não, deixar em área coberta, retirar a água das folhas e regar diretamente na terra.</p>
     </li>
    </ul>
</body>
</html>