<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <title>Sobre</title>
</head>
<body>
    <nav>
        <a href="/inicio">PÁGINA INICIAL</a> |
        <a href="/kids">KIDS</a> |
        <a href="perguntasfrequentes">PERGUNTAS FREQUENTES</a> |
        <a href="contato">CONTATO</a> |
        <a href="sobre">SOBRE</a>
    </nav>
<p><h1>A Culpa é do Mosquito?</h1></p>
<p><h2>Projeto iniciado na disciplina de Projeto Integrador II, do curso de Tecnologia da Informação - Universidade Virtual do Estado de São Paulo (Univesp)</h2></p>
<p>Conscientizar Para Proteger: O Poder da Educação Para o Combate à Dengue</p>
<p>Projeto desenvolvido com a finalidade de ensinar técnicas de prevenção e combate ao mosquito Aedes aegypti, principal vetor da dengue, febre chikungunya e zika. Com o estado de epidemia em diversos locais, o foco do site é falar exclusivamente sobre a dengue. O intuito é informar a maneira adequada de detectar os sintomas e como proceder ao identificá-los.</p>
 <p>O nome do projeto serve de indagação quanto a responsabilidade, ou culpa da disseminação do vírus da dengue. O mosquito é o real culpado ou nós somos negligentes quanto aos cuidados e não nos atentamos na prevenção? Cabe a reflexão e o convite para que cada faça a sua parte, para que a luta seja eficaz e que os números de infectados sejam cada vez menores.</p>
<h6>Projeto desenvolvido por Gustavo Dutra e Rogerio Siqueira</h6>
</body>
</html>
